*{
    margin: 0;
}
body{
    background-color: #333;
    color: white;
    font-family: "Heebo", sans-serif;
}

main{
    font-family: "Heebo", sans-serif;
}

.container{
    background-color: #333;
    font-family: monospace;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logoname{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.logoimg{
    width: 3%;
    padding-right: 2%;
}

.nav-bar{
    display: flex;
    padding: 13px;
}

.nav-list{
    display: flex;
    margin-left: auto;
    padding-right: 5%;
}

.nav-links{
    padding: 10px;
    color: white;
    list-style: none;
}

.nav-links-a{
    color: white;
    text-decoration: none;
    font-size: larger;
}

.img{
    position: absolute;
    top: 50%;
    left: 50%;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: dodgerblue;
}

.content-container{
    background-color: #333;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.content-nav{
    background-color: #333;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
}


.content-links{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
}

.heading{
    text-align: center;
}


.content-container button{
    background-color: dodgerblue;
    width: 10%;
    padding: 10px;
    border: 2px solid dodgerblue;
    margin-left: 45%;
}

.content-container button a{
    color: white;
    text-decoration: none;
    font-size: larger;
}


.content-links:hover{
    background-color: #111;
    padding: 20px;
}

.content-container p{
    font-size: 25px;
}

.boxes{
    background-color: rgb(9, 108, 201);
    width: 20%;
    margin: 3%;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.boxes p{
    font-size: 20px;
    text-align: center;
}

.html_img{
    display: block;
    margin: 0 auto;
}

.code-area{
    display: flex;

}

.wnote{
    background-color: rgb(10, 97, 212);
    padding: 15px 20px;
    border-radius: 10px;
}

.boxes button{
    background-color: transparent;
    border: 2px solid #333;
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    animation: moveupndown 2s infinite;
}

.boxes button:hover{
    background-color: #333;
}

.btn-position{
    display: flex;
    justify-content: center;
}

@keyframes moveupndown{
    0%{
        margin-top: 2%;
    }

    100%{
        margin-bottom: 2%;
    }
}

.html-box{
    width:10%;
    padding: 12px 12px;
    border-radius: 10px;
    text-align: center;
    color: palevioletred;
    background-color: #111;
    margin-left: auto;
    margin-right: auto;
    
}

.html-box-code{
    width: 30%;
    padding: 12px 12px;
    border-radius: 10px;
    text-align: center;
    color: palevioletred;
    background-color: #111;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (max-width: 700px) {
    .logoname{
        display: none;
    }

    .logoimg{
        width: 7%;
        padding-right: 2%;
    }

    .content-container{
        background-color: #333;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    
    .content-nav{
        background-color: #333;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        padding: 20px;
    }

    .content-container button{
        background-color: dodgerblue;
        width: 30%;
        padding: 10px;
        border: 2px solid dodgerblue;
        margin-left: 35%;
    }

    .boxes{
        background-color: rgb(9, 108, 201);
        width: 60%;
        padding: 20px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin: 15%;
        
    }
    
    .boxes p{
        font-size: 20px;
        text-align: center;
    }

    .html_img{
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .html-box{
        width:10%;
        padding: 12px 12px;
        border-radius: 10px;
        text-align: center;
        color: palevioletred;
        background-color: #111;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .html-box-code{
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        text-align: center;
        color: palevioletred;
        background-color: #111;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        
    }

    .code-area{
        display: block;
    
    }

}